.todoItem {
  position: relative;
}

.todoMainArea {
  width: 100%;
  padding-left: 15px;
  border-top: 1px solid #e7e7e7;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #060606;
}

.checkboxInput {
  display: none;
}

.checkboxInput:hover {
  cursor: normal;
}

.labelWrapper {
  cursor: pointer;
  padding-left: 30px;
}

.done ~ .labelWrapper {
  color: #b3b3b3;
  text-decoration: line-through;
}

.done + .check {
  background-image: url("src/images/checked.png");
}

.labelWrapper:hover{
  color: #148fd5;
}

.todoItemWrapper {
  width: 100%;
  border-top: 3px solid black;
  padding: 15px 0;
}

.delete{
  padding-left: 10px;
  padding-right: 10px;
}

.delete:hover{
  background-color: rgba(255, 0, 0, 0.4);
  cursor: pointer;
}

.delete img{
  margin-left: 0;
  text-align: center;
}

.todoMainArea:last-of-type{
  text-align: right;
}

.todoMainArea:hover{
  background-color: rgba(0,100,205, 0.2);
}

.check {
  background: transparent url("src/images/checkbox.png") no-repeat;
  position: absolute;
  top: 18px;
  left: 15px;
  height: 15px;
  width: 15px;
}