#form_modal{
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -287.5px;
  width: 575px;
  background-color: #ffffff;
  z-index: 2;
}

form * {
  background: none;
  padding: 0;
  font-size: 16px;
  color: #757575;
}
form label{
  float: left;
  width: 110px;
  padding-top: 12px;
  padding-left: 30px;
}
form input[type="text"], form textarea {
  float: left;
  width: 395px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #A6A6A6;
  border-radius: 5px;
}
form{
  padding-top: 40px;
}
form textarea{
  resize: none;
  height: auto;
}
form textarea:after{
  display: block;
  content: "";
  clear: both;
}
form input[type="submit"], form button{
  background-color: #148fd5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}
form input[type="submit"]{
  display: inline-block;
  clear: both;
  width: auto;
  margin: 25px 20px 40px 140px;
  padding: 10px 70px;
}
form button{
  clear: both;
  padding: 10px 20px;
  margin: 25px 0 40px 0;
}
form li{
  padding: 0 0 60px 0;
  display: block;
}
form li:last-of-type{
  padding-bottom: 0;
}

.date {
  float:left;
  width: 400px;
}
.date input, .date select{
  float: none;
  width: 121px;
  padding: 10px;
  box-sizing: border-box;
}
.date select{
  height: 43px;
}